body{
    overflow-x: hidden;
    font-family: 'IBM Plex Sans',sans-serif;
    color: #;
}

#navbar ul{
  margin: 0;
  padding: 0;
}

#navbar li a:hover {
  background-color: #000;
}

/* Input normal */

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: #f4f7fc;
    color: #4d4d4d;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    padding: 7px 20px;
    width: 100%;
    margin-bottom: 20px;
}


/* Contact Form  */

.wpcf7-form select,
.wpcf7-form textarea,
.wpcf7-form input {
    margin-bottom: 0;
}